body {
  background: url('cover/walpaper.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.login-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
  backdrop-filter: blur(5px);
  color: #fff;
}

.form-control {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}

.form-control::placeholder {
  color: #bbb;
}

.btn-login {
  background: linear-gradient(45deg, #00d9a5, #00796b);
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  transition: 0.3s ease-in-out;
}

.btn-login:hover {
  background: linear-gradient(45deg, #00796b, #004d40);
  transform: translateY(-2px);
}

.btn-attendance {
  background: linear-gradient(45deg, #42a5f5, #1e88e5);
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.btn-attendance:hover {
  background: linear-gradient(45deg, #1e88e5, #1565c0);
  transform: translateY(-2px);
  color: #fff;
}

.alert-custom {
  background: rgba(255, 0, 0, 0.8);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: bold;
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 10px;
  background-color: rgba(0, 121, 107, 0.5);
  color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
}

a {
  color: #00d9a5;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #00796b;
}
